n8n/workflows/reel-pipeline.json
{
  "name": "Insta Ali Translate — Reel Pipeline",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Insta Ali Translate — 릴스 생성",
        "formDescription": "AliExpress 상품 URL을 입력하면 한국어 9:16 릴스(MP4)와 HTML 쇼케이스를 자동 생성합니다.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "AliExpress Product URL",
              "fieldType": "text",
              "requiredField": true,
              "fieldName": "product_url",
              "placeholder": "https://www.aliexpress.com/item/..."
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [0, 300],
      "webhookId": "reel-pipeline-form-trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "norm-url-001",
              "name": "product_url",
              "value": "={{ ($json.product_url || '').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Normalize URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://web:8000/api/jobs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.product_url }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": false
            }
          }
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Create Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-job-id-001",
              "name": "job_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "set-job-id-002",
              "name": "product_url",
              "value": "={{ $('Normalize URL').item.json.product_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "Set Job ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "// 60회 폴링 슬롯 생성 (최대 30분)\nconst job_id = $input.first().json.job_id;\nconst product_url = $input.first().json.product_url;\n\nreturn Array.from({ length: 60 }, (_, i) => ({\n  json: {\n    job_id,\n    product_url,\n    poll_index: i + 1,\n  },\n}));"
      },
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "Init Poll Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-f012-456789012345",
      "name": "Poll Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "a7b8c9d0-e1f2-3456-0123-567890123456",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1440, 300],
      "webhookId": "reel-pipeline-wait-30s"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://web:8000/api/jobs/{{ $json.job_id }}",
        "options": {}
      },
      "id": "b8c9d0e1-f2a3-4567-1234-678901234567",
      "name": "Get Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "if-completed-001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c9d0e1f2-a3b4-5678-2345-789012345678",
      "name": "IF Completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1920, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "if-failed-001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d0e1f2a3-b4c5-6789-3456-890123456789",
      "name": "IF Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2160, 420]
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_TELEGRAM_CHAT_ID",
        "text": "={{ `[Insta_Ali_Translate] 릴스 생성 완료 ✅\\nURL: ${$('Set Job ID').item.json.product_url}\\nMP4: http://localhost:8080/assets/jobs/${$('Set Job ID').item.json.job_id}/final_shorts.mp4\\n쇼케이스: http://localhost:8080/showcase/${$('Set Job ID').item.json.job_id}` }}",
        "additionalFields": {}
      },
      "id": "e1f2a3b4-c5d6-7890-4567-901234567890",
      "name": "Telegram Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2160, 120],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot (Insta_Ali_Translate)"
        }
      }
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_TELEGRAM_CHAT_ID",
        "text": "={{ `[Insta_Ali_Translate] 작업 실패 ❌\\nJob: ${$('Set Job ID').item.json.job_id}\\nURL: ${$('Set Job ID').item.json.product_url}\\n단계: ${$json.current_step || 'unknown'}\\n에러: ${$json.error_message || 'unknown error'}` }}",
        "additionalFields": {}
      },
      "id": "f2a3b4c5-d6e7-8901-5678-012345678901",
      "name": "Telegram Failure",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2400, 360],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot (Insta_Ali_Translate)"
        }
      }
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_TELEGRAM_CHAT_ID",
        "text": "={{ `[Insta_Ali_Translate] 작업 타임아웃 ⏱️\\nJob: ${$('Set Job ID').item.json.job_id}\\nURL: ${$('Set Job ID').item.json.product_url}\\n60회 폴링(약 30분) 후에도 완료되지 않았습니다.` }}",
        "additionalFields": {}
      },
      "id": "a3b4c5d6-e7f8-9012-6789-123456789012",
      "name": "Telegram Timeout",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1440, 540],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot (Insta_Ali_Translate)"
        }
      }
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Normalize URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize URL": {
      "main": [
        [
          {
            "node": "Create Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Job": {
      "main": [
        [
          {
            "node": "Set Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Job ID": {
      "main": [
        [
          {
            "node": "Init Poll Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Poll Slots": {
      "main": [
        [
          {
            "node": "Poll Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Loop": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "Get Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Status": {
      "main": [
        [
          {
            "node": "IF Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Completed": {
      "main": [
        [
          {
            "node": "Telegram Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Failed": {
      "main": [
        [
          {
            "node": "Telegram Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Poll Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "insta-ali-translate-reel-pipeline"
  },
  "active": false
}
